[Unit]
Description=Check docker's 'ENV' on container startup
After=issabeldialer.service webmin.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/containerstartup.sh

[Install]
WantedBy=multi-user.target
